@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600);	

html {
  /* border-top: 64px solid #7092be; */
  /* border-bottom: 24px solid #7092be; */
  background: white;
  color: black;

}

html, body {
  margin-left: 5%;
  margin-right: 5%;
  padding: 0;
  font-family: Arial;
}
a {
        font-size: large;
		background-color: none;
        color: brown;
		text-decoray;
		text-decoration: none;
    }

a:hover {


        background-color: grey;
        color: white;
        text-decoration: none;
    }

h1 {
  color: #fff;
  text-align: center;
  font-weight: 300;
}
//menu z artykulami

ul.pion, ul.pion li.pion {

	display: block;
	list-style: none;
	padding: 0;
}

ul.pion {
	font-family: 'Arial';
	font-size: 18px;
    text-align: center;
	display: block;
	list-style: none; //usuwa kropke
    //background-color: #fff;
    padding: 1px 0 1px 1px;
	//border: 2px solid #000;

}

ul.pion a:link, ul.pion a:visited {
	float: left; //sprawia ze menu jest poziome
	display: block; 
	width: 10%;	
	text-decoration: none;
	background: /* #7092be */ url("../tlo1.gif") repeat-x center;
	color: #ffffff;
    padding: 10px 20px;
	border-right: 1px solid #fff;
	//border-right: 1px solid #fff;
}

ul.pion a:hover {

    
    /* background-color: #195c12; */
	background-image: url("../tlo2.gif");
}

        .auto-style1 {
            width: auto;
            padding: 5px;
        }
        .auto-style2 {
            width: auto;
        }
        .centrum {
            margin-left:20px;
        }

                .centrumHistoria {
            margin-left:30px;
        }

